<div class="container">
  <div class="row justify-content-center mt-5">
  <div class="col-8 pt-5">
    <%= link_to "Back to 'My Lists'", lists_path %>
    <h1><%= @list.name %></h1>
    <div class="mt-2">
    <%= link_to "Add new movie!", new_list_bookmark_path(@list), class: "btn btn-primary mb-2" %>
    </div>
    <% @list.bookmarks.each do |bookmark|%>
      <div class="card-trip mt-2">
        <img src="<%= bookmark.movie.poster_url %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.comment %></p>
          </div>
          <%= link_to "Delete", new_list_bookmark_path(@list) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
